/*
  CSS for view_modules.html and json_modules.html
*/
.color_body
{
    /*background-image: linear-gradient(#81e8bb,cyan);*/
    background-color: white;
}

.padding_body
{
    padding:10px;
}

.outer-module-block
{
    padding:5px;
    background-color:cyan;
    border-style:solid;
    border-color:cyan;
    border-radius:14px;
    z-index = -1;
}

.inner-module-block
{
    padding:5px;
    background-color:white;
    border-style:solid;
    border-color:cyan;
    border-radius:14px;
}
