.outer-module-block
{
    padding:5px;
    background-color:cyan;
    border-style:solid; 
    border-color:cyan; 
    border-radius:14px;
    z-index = -1;
}

.inner-module-block
{
    padding:5px;
    background-color:white;
    border-style:solid; 
    border-color:cyan; 
    border-radius:14px;
}
