<!DOCTYPE html>
<!--Thomas Johnson III-->
<!-- Reference: https://www.jqueryscript.net/other/hierarchical-searchable-tree.html-->
<!-- JavaScript written with the assistance of W3 Schools -->
<!--Simpletree jQuery plugin Michael Derntl-->
<head>
 <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/viewmodules.css') }}">
 <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='js/searchtree/simpleTree.css') }}">
 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<!-- <script type = "text/javascript" src = "{{ url_for('static',filename='js/searchtree/jquery.slim.min.js') }}"></script>-->
<script type = "text/javascript" src = "{{ url_for('static',filename='js/searchtree/simpleTree.js') }}"></script>
</head>
<title>Displays Module Information via JavaScript and JQuery Plugin</title>
<body class="color_body padding_body">
<h1>Information on Casper Modules</h1>
<p>Relevant compilers and modules appear below.</p>
 <p>Search for some software in the search bar below.</p>
<input type="search" id="test">
<div class ="outer-module-block">
  <h2>Module Information</h2>
  <div class="inner-module-block">
   <div id="moduletree"></div>
  </div>
</div>
<div id="modal-vessel" class ="modal-external modal-hidden">
  <div id="modal-inner" class="modal-content">
  </div>
</div>
<!--<div>
<p id="display"></p>
<p id="displayA"></p>
<p id="displayB"></p>

</div>-->
<!--<script>
var treeData = {{tree_content|safe}};

document.getElementById('display').innerHTML = JSON.stringify(treeData);
var headings = Object.keys(treeData);
var content = Object.values(treeData);

  //var headings =treeData[0];
//  var content = treeData;
document.getElementById('displayA').innerHTML = headings;

for ([heading, content] of Object.entries(treeData))
{
  console.log(heading,content);
}

</script>-->
<script>

let data ={{tree_content|safe}}// Received from document.py
var options = {
        // Optionally provide here the jQuery element that you use as the search box for filtering the tree. simpleTree then takes control over the provided box, handling user input
        searchBox: $('#test'),

        // Search starts after at least 3 characters are entered in the search box
        searchMinInputLength: 2,

        // Number of pixels to indent each additional nesting level
        indentSize: 25,

        // Show child count badges?
        childCountShow: true,

        // Symbols for expanded and collapsed nodes that have child nodes
        symbols: {
            collapsed: '▶',
            expanded: '▼'
        },

        // these are the CSS class names used on various occasions. If you change these names, you also need to provide the corresponding CSS class
        css: {
            childrenContainer: 'simpleTree-childrenContainer',
            childCountBadge: 'simpleTree-childCountBadge badge badge-pill badge-secondary',
            highlight: 'simpleTree-highlight',
            indent: 'simpleTree-indent',
            label: 'simpleTree-label',
            mainContainer: 'simpleTree-mainContainer',
            nodeContainer: 'simpleTree-nodeContainer',
            selected: 'simpleTree-selected',
            toggle: 'simpleTree-toggle'
        }
    };
$('#moduletree').simpleTree(options, data);
</script>
</body>
</html>
